.debitcard{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.debitcard .debitCard_front{
    margin-left: -80px;
    z-index: 1;
}

.debitCard_front .frontCard{
    background-color: #161616;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    height: 180px;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    width: 300px;
}

.frontCard .frontCard_moon{
    background-color: #d70026;
    border-radius: 50%;
    filter: blur(10px);
    height: 300px;
    left: -120px;
    position: absolute;
    top: -50px;
    width: 300px;
    z-index: 0;
}
.frontCard .frontCard_top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 20px;
    position: absolute;
    top: 15px;
    width: 100%;
}

.frontCard_top h1{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.frontCard_top .imgCont{
    height: 30px;
    width: 50px;
}

.imgCont img{
    width: 100%;
    height: 100%;
}
.frontCard .frontCard_mid{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.frontCard_mid .mid_chip{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px;
}

.mid_chip img{
    transform: rotate(90deg);
    width: 100%;
}

.frontCard_mid p{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.frontCard_mid p span{
    color: #fff;
    font-size: 13px;
}
.frontCard .frontCard_bottom{
    bottom: 10px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
}

.frontCard_bottom p:first-child{
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
}

.frontCard_bottom p:last-child{
    bottom: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
}

.debitCard_front .debitCard_back{
    left: 55%;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    z-index: -1;
}

.debitCard_back .back_card{
    background-color: #161616;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    height: 180px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 300px;

}

.back_card::before{
    background-color: #fff;
    content: "";
    height: 35px;
    position: absolute;
    top: 30px;
    width: 100%;
}


.back_card .back_bottom{
    align-items: center;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
}

.back_bottom p:first-child{
    color: #fff;
    font-size: 20px;
}


.back_bottom:last-child{
    color: #fff;
    font-size: 18px;
}