.scanQr{
    padding: 20px;
}

.scanQr .content{
    height: 100vh;
}


.upload_pictur{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload_pictur .imgcont{
    width: 100px;
    height: 100px;
}

.imgcont img{
    width: 100%;
    height: 100%;
}

.upload_pictur p{
    color: #000;
}

.upload_pictur p  span{
    color: red;
}