.TransferIcon{
    align-items: center;
    background: #fff;
    border: 1px solid #9e9e9e;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    color: #fff;
    column-gap: 20px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 50px;
    padding: 10px;
    width: 260px;
}


.icon{
    height: 30px;
    width: 30px;
}

.icon img{
    height: 100%;
    width: 100%;
}

.name{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s ease-out;
    color: #000;
}






@media screen and (min-width: 1024px) and (max-width: 1200px){
    
  
}


@media screen and (min-width: 769px) and (max-width: 1024px){
    .TransferIcon{
        width: 300px;
    }
        
  
}



@media screen and (min-width: 480px) and (max-width: 769px){
    .TransferIcon{
        width: 300px;
    }



}



@media screen and (min-width: 0px) and (max-width: 480px){
    .TransferIcon{
        width: 300px;
    }

    
}