.TransferIcon{
    align-items: center;
    background: #fff;
    border: 1px solid #9e9e9e;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    color: #fff;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 50px;
    padding: 10px;
    width: 100%;
}


.icon{
    height: 30px;
    width: 30px;
}

.icon img{
    height: 100%;
    width: 100%;
}

.name{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s ease-out;
    color: #000;
}