.form{
    align-items: center;
    background: #edf1f5;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    margin: 0 auto;
    padding: 30px;
    width: 50%;
}



.login_para{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.login_para span a{
    margin-left: 8px;
    color: var(--primary-color);
}


@media screen and (min-width: 1024px) and (max-width: 1200px){
    
  
}


@media screen and (min-width: 769px) and (max-width: 1024px){
        
    .form{
        padding: 0 3rem;
    }
    .container{
        width: 100%;
    }
  
}



@media screen and (min-width: 480px) and (max-width: 769px){
    
    .form{
        padding: 0 2rem;
    }
    .container{
        width: 100%;
    }



}



@media screen and (min-width: 0px) and (max-width: 480px){

    .form{
        padding: 0 1rem;
    }
    .container{
        width: 100%;
    }


}