.allMiniModal{
    background-color: rgba(0, 0, 0, .75);
    bottom: 0;
    cursor: pointer;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 11;
}

.allMiniModal_container{
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.cotainer_box{
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
}