:root {
  --primary-color: #d70026;
  --add-color:#161616;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik", serif;
  font-size: 16px;
}

body{
  color: #9e9e9e;
  background: #edf1f5;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}